---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Finca Los Ingleses">
    <main>
        <section class="section-pc">
            <div class="description-text">
                <h2>Finca Los Ingleses</h2>
                <p>Escapa de la rutina y encuentra tu paraíso en el campo, sin alejarte de la ciudad. Te presentamos una exclusiva vivienda unifamiliar, donde el lujo y la naturaleza se fusionan en perfecta armonía. Disfruta de amplios espacios, acabados de primera calidad y un diseño que te enamorará. Relájate en tu jardín privado, respira aire puro y contempla las estrellas. ¡Tu nuevo hogar te espera!</p>
            </div>
			<div class='imageWrapperHero'>


				
			    <img class="hero" src="exterior3.webp"/>
			</div>

			
        </section>
		<section class="section-mobile">
			<div class='imageWrapperHero'>
				<img src="/exterior1.webp"/>
			  </div>
				
			  </div>
			  <div class="mobile-text">
				<ul class="mobile-ul">
					<li class="titulo-movil">Finca Los Ingleses</li>
					<li class="">Tu refugio de lujo en el campo, a un paso de la ciudad. Disfruta de la tranquilidad y la naturaleza sin renunciar a la comodidad y los servicios.</li>
					<li id="click-aqui">Haz click aquí para descubrir más</li>
				</ul>
			</div>
			
        </section>
    </main>
</Layout>

	<script type="module">

	

		const hamburgerMenu2 = document.querySelector(".hamburger-dialog")
		const hamburgerIcon2 = document.querySelector(".hamburger-icon")
		const clickAqui = document.querySelector("#click-aqui")

clickAqui.addEventListener("click",()=>{
	
	if (hamburgerMenu2.classList.contains("hamburger-open")){
		hamburgerMenu2.classList.remove("hamburger-open")
		hamburgerIcon2.classList.remove("hamburger-icon-rotated")

	}
	else{
		hamburgerMenu2.classList.add("hamburger-open")
		hamburgerIcon2.classList.add("hamburger-icon-rotated")
	}
})
		</script>



<style>
	body {
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 0;
}

section {
    padding-top: 24px;
    border-radius: 12px;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageWrapperHero {
        position: relative;
        max-width: 70vw; /* Ajustar la altura máxima */
        aspect-ratio: 16 / 9;
    }

.imageWrapperHero img {
    width: 100%;
	height: 100%;
    border-radius: 12px;
}
.imageWrapperHero svg {
    width: 100%;
	height: 100%;
    border-radius: 12px;
}


.image-area {
    position: absolute;
    left: 0;
    top: 0;
}

.toprow {
    fill: #75A93A;
    fill-opacity: 0.3;
    cursor: pointer;
    stroke: white;
    stroke-width: .2;
}

.secondrow {
    fill: #a93a3a;
    fill-opacity: 0.4;
    cursor: pointer;
    stroke: white;
    stroke-width: .2;
}

.toprow:hover {
    fill-opacity: 0.8;
}

.secondrow:hover {
    fill-opacity: 0.8;
}

.svg-text {
        fill: #a93a75;
		fill: white;
        font:  0.2rem "Poppins", sans-serif;
        pointer-events: none;
        display: block;
    }
dialog {
    height: calc(100vh - 16px);
    border: none;
}

dialog::backdrop {
    background-color: #26263399;
}

.modalImage {
    height: 99%;
    margin: 0px;
    border: none;
}

.outline {
    fill: none;
    stroke: white;
    stroke-width: .2;
}

.section-mobile {
    display: none;
}

.fichaMovil {
    height: fit-content;
    width: fit-content;
}

.fichaMovil img {
    width: 90vw;
    aspect-ratio: 2481 / 3509;
    height: auto;
}

.mobile-ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.closeButton {
    position: fixed;
    top: 8px;
    right: 8px;
    height: 48px;
    width: 48px;
    outline: none;
    background-color: hsl(240, 15%, 27%);
    color: hsl(240, 15%, 97%);
    cursor: pointer;
    font-size: 16pt;
    border: 2px hsl(240, 15%, 27%) solid;
    border-radius: 250px;
    text-align: center;
    padding: 0;
}

.detalle-par {
    background-color: hsl(240, 15%, 37%);
    padding-block: 8px;
}

main {
    overflow: auto;
}
.section-pc{
	display: flex;
	flex-direction: column;
    height: calc(100% - 24px);
    justify-content: flex-start;
    gap: 24px;
}
.description-text {
        text-align: left;
        margin-top: 16px;
		color: var(--text);
        max-width: 70vw;
    }
    .description-text h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
        color: var(--secondary);
    }
    .description-text p {
        font-size: 1rem;
        margin: 8px 0 0;
    }

/* CSS Móvil */
@media (orientation: portrait) {
    .section-pc {
        display: none;
    }

    .section-mobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    main {
        height: calc(100dvh - 80px);
    }

    .mobile-text {
        display: flex;
        color: var(--text);
        width: 100vw;
        padding: 0;
    }

    .mobile-text ul {
        width: 100%;
        padding-inline: 0;
        gap: 0;
        text-align: center;
    }

    .mobile-text li {
        display: flex;
        justify-content: center;
        padding-inline: 16px;
        padding-block: 8px;
    }

    .mobile-text li span {
        cursor: pointer;
    }

    #click-aqui {
        background-color: var(--primary);
        border-radius: 12px;
        color: var(--background);
        margin: 30px;
    }

    .titulo-movil {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--text);
    }
    .imageWrapperHero {
        max-width: 100%; /* Ajustar la altura máxima */
    }
}

.svg-number {
    fill: #a93a75 black;
    stroke: white;
    stroke-width: 0.4px;
    font: bold 0.8rem "Poppins", sans-serif;
}
</style>
